<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 - Página Não Encontrada</title>
    <style>
        body { 
            font-family: Arial, sans-serif; 
            text-align: center; 
            padding: 50px; 
            background-color: #f4f4f4; 
            color: #333;
        }
        h1 { 
            font-size: 50px; 
            margin-bottom: 10px;
        }
        p { 
            font-size: 20px; 
            margin-bottom: 30px; 
        }
        img { 
            border-radius: 50%; 
            width: auto; 
            height: 50vh; 
            margin-bottom: 20px; 
        }
        a { 
            display: inline-block; 
            padding: 10px 20px; 
            color: #fff; 
            background-color: #007bff; 
            text-decoration: none; 
            border-radius: 5px;
        }
        a:hover { 
            background-color: #0056b3; 
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <img src="https://cdn.britannica.com/07/258207-050-A97114B7/bbc-sherlock-benedict-cumberbatch-martin-freeman.jpg" alt="Sherlock Holmes">
    <p>Elementar, meu caro Watson... parece que esta página desapareceu!</p>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
