* {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100vw;
    height: 15vh;
    background-color: #0051FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buscar {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 50%;
}

.buscar input {
    width: 40%;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background-color: white;
    padding: 1rem;
}

.buscar input:focus {
}

.buscar input::placeholder {
   padding: 1rem;
    /* text-align: center; */
}


.buscar button {
    background-color: white;
    width: 5%;
    border: none;
    border-radius:0px 8px 8px 0px;
}

.buscar button:hover {
    cursor: pointer;
}

.opcoes {
    display: flex;
    gap: 4rem;
}

.opcoes a {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.container {
    padding: 3rem;
    height: 150vh;

    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 3rem;
}

.coluna1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 150vh;
}

.coluna1 > h1 {
    font-size: 3rem;
}

.coluna1 > .imagem {
    background-image: url('../../assets/img/linux.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
}

.coluna1 > .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coluna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box {
    flex-basis: 25%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.curtidas {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 3rem 0rem 3rem;
}

.curtidas .box-curtidas {
    display: flex;
    gap: 1rem;


}

.box-curtidas i {
    cursor: pointer;
}

.comentarios {
    width: 100vw;
    height: fit-content;
    padding: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comentarios textarea {
    width: 90%;
    height: 20vh;
}

.comentarios button {
    width: 20%;
    height: 3rem;
    background-color: #0051FF;
    color: white;
    border: none;
    align-self: start;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    transition: 1s;
}



